.home-top {
    width: 520px;
    /* height: 20px; */
    padding: 10px;
    margin-bottom: 20px;
}

.home-info {
    width: 97%;
    min-height: 120px;
    margin-bottom: 40px;
}

.home-info-content {

}

.home-project-2 {
    margin-bottom: 20px;
}

.home-skill {
    display: flex;
}
.home-skill-pane1 {
    width:80%;
}

.home-skill-pane2 {
    width:80%;

}

.home-skill-pane3 {
    width:80%;

}

.ml-20 {
  margin-left: 25px;
}